<br>
<button type="button" class="btn btnAction btn-success btn-sm quoteGet">Get New Quotes!</button>
<button type="button" class="btn btnAction btn-danger btn-sm quoteClear">CLEAR Quotes!</button>
<div class="container-fluid quoteContainer">
  {{#each dbquotes}}
  {{#unless saved}}

  <div class="card cardStyle">
    <div class="card-header">
      <a class="btn btn-success btn-sm btnCard quoteSave" data-id={{_id}}>
        Save Quote
      </a>
    </div>
    <div class='card-body'>
      {{quote}}
    </div>
  </div>

  {{/unless}}
  {{/each}}
</div>