<br>
<button type="button" class="btn btnAction btn-success btn-sm quoteGet">Get New Quotes!</button>
<button type="button" class="btn btnAction btn-danger btn-sm quoteClear">CLEAR Quotes!</button>
<div class="container-fluid quoteContainer">
  {{#each dbquotes}}
  {{#unless saved}}
  <div class="card cardStyle">
    <div class="card-header">
      <a class="btn btn-success btn-sm btnCard quoteSave" data-id={{_id}}>
        Save Quote
      </a>
    </div>
    <div class='card-body'>
      {{quote}}
    </div>
  </div>
  {{/unless}}

  {{else}}
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Oh oh! Looks like we need to scrape for new quotes!</h1>
      <p class="lead">Click on 'Get New Quotes!' to get started.</p>
    </div>
  </div>
  {{/each}}


</div>